<!doctype html>
<html ng-app='lunchChecker'>
  <head>
    <title>Lunch Checker</title>
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
  </head>
<body>
   <div class="container" ng-controller="lunchCheckerController"
     <h1>Lunch Checker</h1>
       <div>
       		<!-- do NOT consider an empty item, i.e., , , as an item towards to the count-->
           <input id="lunch-menu" type="text"
           placeholder="list comma separated dishes you usually have for lunch"
           ng-model="lunchMenu">
       </div>
       <div>
           <button class="btn btn-default" ng-click="checkLunchMenu()">Check If Too Much</button>
       </div>
       <div>
       	<link rel="stylesheet" href="styles/fontColor.css">
         <span ng-class="warningLabel.color">
         	 {{warningLabel.label}}
         </span>
       </div>
   </div>

</body>
</html>